In [6]:
import os 
import pandas as pd 

os.chdir('/mnt/BioHome/jreyna/jreyna/projects/dchallenge/')

In [7]:
fn = 'results/refs/meta/2022.03.01_eQTL_Report_Samples_with_Tissue_Type.tsv'
data = pd.read_table(fn)

## Calculating the number of both Cell Lines and Primary Samples

In [72]:
def count_yes(col):
    yes = [1 for x in col if x == 'Yes']
    return(sum(yes))
tissue_counts = data.apply(count_yes)
tissue_cols = [x for x in data.columns.tolist() if 'Related' in x]
tissue_counts = tissue_counts[tissue_cols].to_frame()
tissue_counts.columns = ['Number of Samples']

In [73]:
tissue_counts

                 Number of Samples
Immune Related                  21
Skin Related                     1
Lung Related                     6
Heart Related                    7
Cancer Related                  10
Overian Related                  4

## Calculating the number of sample types per disease

In [74]:
sample_types = []
for disease in tissue_cols:
    sample = data[data[disease] == 'Yes']['Sample Type'].value_counts()
    sample_info = [disease, 0, 0]
    
    if 'Cell line' in sample:
        sample_info[1] = sample['Cell line']
    if 'Primary Sample' in sample:
        sample_info[2] = sample['Primary Sample']
        
    sample_types.append(sample_info)

sample_types = pd.DataFrame(sample_types)
sample_types.columns = ['Tissue', 'Number of Unique Cell Lines', 'Number of Unique Primary Samples']

In [75]:
sample_types

,Tissue,Number of Unique Cell Lines,Number of Unique Primary Samples
0,Immune Related,12,9
1,Skin Related,1,0
2,Lung Related,6,0
3,Heart Related,3,4
4,Cancer Related,10,0
5,Overian Related,4,0

## Merging the tables together

In [76]:
summary = tissue_counts.merge(sample_types, left_index=True, right_on='Tissue')
summary = summary.iloc[:, [1,0,2,3]]

In [79]:
summary

,Tissue,Number of Samples,Number of Unique Cell Lines,Number of Unique Primary Samples
0,Immune Related,21,12,9
1,Skin Related,1,1,0
2,Lung Related,6,6,0
3,Heart Related,7,3,4
4,Cancer Related,10,10,0
5,Overian Related,4,4,0

In [90]:
fn = 'results/refs/meta/2022.03.01_eQTL_Report_Main_Doc.tsv'
eqtl_report = pd.read_table(fn, skiprows=9)

ParserError: Error tokenizing data. C error: Buffer overflow caught - possible malformed input file.

In [ ]:
eqt