In [1]:
import os
import pandas as pd 
os.chdir('/mnt/BioHome/jreyna/jreyna/projects/dchallenge')

outdir = 'results/main/pc_hic/2019_jung/processing/'
os.makedirs(outdir, exist_ok=True)

In [2]:
# listing cells within the dataframe
cells = ['GM', 'PA', 'TH1']

# listing the new names from the corresponding cells
new_cells = ['gms_merged', 'pancreas', 'thymus']

In [3]:
for cell, new_cell in zip(cells, new_cells):
    
    # load loops
    loops = pd.read_table('results/main/pc_hic/2019_jung/{}.combined.txt'.format(cell))
    #loops = pd.read_table('results/main/pc_hic/2019_jung/{}.combined.txt'.format(cell), nrows=10000)
    #loops = loops.loc[loops['-log10(result)'] > 5]

    # get left anchor
    chr1_data = loops['frag1'].str.split('[:-]')
    chr1_data = pd.DataFrame(chr1_data.values.tolist())

    # get right anchor
    chr2_data = loops['frag2'].str.split('[:-]')
    chr2_data = pd.DataFrame(chr2_data.values.tolist())
    
    # combine all the data
    result_score = loops.loc[:, ['-log10(result)']].reset_index(drop=True)
    new_loop_data = pd.concat([chr1_data, chr2_data, result_score], axis=1)
    new_loop_data['cell'] = new_cell
    
    # save the data 
    bedpe_fn = os.path.join(outdir, '{}.bedpe'.format(new_cell))
    new_loop_data.to_csv(bedpe_fn, sep='\t', header=False, index=False)

In [4]:
new_loop_data

,0,1,2,0,1,2,-log10(result),cell
0,chr1,915520,932176,chr1,1158519,1183837,0.240671,thymus
1,chr1,915520,932176,chr1,1435680,1451318,1.258193,thymus
2,chr1,915520,932176,chr1,1558274,1582294,0.478824,thymus
3,chr1,915520,932176,chr1,943049,965801,1.171203,thymus
4,chr1,915520,932176,chr1,1002917,1037240,0.200312,thymus
...,...,...,...,...,...,...,...,...
2650992,chrX,154894664,154901659,chrX,154838186,154843122,0.075172,thymus
2650993,chrX,154894664,154901659,chrX,154846533,154850838,0.066077,thymus
2650994,chrX,154894664,154901659,chrX,154850839,154857003,0.268544,thymus
2650995,chrX,154894664,154901659,chrX,154857004,154860508,0.068128,thymus
2650996,chrX,154894664,154901659,chrX,154918145,154926953,0.118891,thymus