In [1]:
import os 
import glob
import pandas as pd

os.chdir('/mnt/BioHome/jreyna/jreyna/projects/dchallenge/')

In [2]:
ss = pd.read_table('config/coloc_samplesheets/t1d.samplesheet.tsv')
ss.loc[:, 'gwas'] = ss.loc[:, 'gwas'].str.replace('#', '')
ss_gwas = ss.groupby('gwas').eqtl_db.count().to_frame()
ss_gwas.columns = ['uniq_ss_counts']

In [3]:
ss_gwas

                           uniq_ss_counts
gwas
T1D_25751624                           30
T1D_32005708                           30
T1D_34012112_Gaulton                   58
T1D_34594039_GCST90018705              30
T1D_34594039_GCST90018925              30

In [4]:
ss

                     gwas    eqtl_db eqtl_origin
0    T1D_34012112_Gaulton  BLUEPRINT    monocyte
1    T1D_34012112_Gaulton  BLUEPRINT  neutrophil
2    T1D_34012112_Gaulton  BLUEPRINT      T-cell
3    T1D_34012112_Gaulton    GENCORD         LCL
4    T1D_34012112_Gaulton    GENCORD      T-cell
..                    ...        ...         ...
173  T1D_34012112_Gaulton  ImmuNexUT         Tfh
174  T1D_34012112_Gaulton  ImmuNexUT        Th17
175  T1D_34012112_Gaulton  ImmuNexUT         Th1
176  T1D_34012112_Gaulton  ImmuNexUT         Th2
177  T1D_34012112_Gaulton  ImmuNexUT       USM_B

[178 rows x 3 columns]

## Checking the logs

In [5]:
check_logs = glob.glob('results/main/coloc/Results/eQTL_Catalogue/logs/run_colocalization_eqtl_catalog.*.*.*.log')

In [6]:
logs = []
for fn in check_logs:
    base = os.path.basename(fn)
    meta = base.split('.')
    logs.append(meta[1:4])
logs = pd.DataFrame(logs)
logs.columns = ['gwas', 'eqtl_source', 'ge_source']
logs_gwas = logs.groupby('gwas').eqtl_source.count().to_frame()
logs_gwas.columns = ['uniq_log_counts']

## Concat

In [7]:
concat = pd.merge(ss_gwas, logs_gwas, left_index=True, right_index=True)

In [8]:
concat

                           uniq_ss_counts  uniq_log_counts
gwas
T1D_25751624                           30               30
T1D_32005708                           30               30
T1D_34012112_Gaulton                   58               31
T1D_34594039_GCST90018705              30               30
T1D_34594039_GCST90018925              30               30