In [1]:
import os
import subprocess
import pandas as pd 
os.chdir('/mnt/BioHome/jreyna/jreyna/projects/dchallenge/')
outdir = 'results/refs/ensembl/'
os.makedirs(outdir, exist_ok=True)

fn = os.path.join(outdir, 'gencode.v19.annotation.gtf.gz')
if not os.path.exists(fn):
    url = 'https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_19/gencode.v19.annotation.gtf.gz'
    cmd = 'wget -O {} {}'.format(fn, url)
    output = subprocess.check_output(cmd, shell=True)

In [2]:
gtf = pd.read_table(fn, header=None, skiprows=5)

In [22]:
snp = gtf.loc[gtf[8].str.match('.*RP11-632C17__A.1'), :]

In [23]:
snp

,0,1,2,3,4,5,6,7,8
896697,chr6,HAVANA,gene,118320138,118320611,.,+,.,"gene_id ""ENSG00000230202.1""; transcript_id ""EN..."
896698,chr6,HAVANA,transcript,118320138,118320611,.,+,.,"gene_id ""ENSG00000230202.1""; transcript_id ""EN..."
896699,chr6,HAVANA,exon,118320138,118320611,.,+,.,"gene_id ""ENSG00000230202.1""; transcript_id ""EN..."

In [25]:
snp.iloc[0, 8]

'gene_id "ENSG00000230202.1"; transcript_id "ENSG00000230202.1"; gene_type "pseudogene"; gene_status "KNOWN"; gene_name "RP11-632C17__A.1"; transcript_type "pseudogene"; transcript_status "KNOWN"; transcript_name "RP11-632C17__A.1"; level 2; havana_gene "OTTHUMG00000015459.2";'

In [26]:
# extract the main columns
parsed = gtf.iloc[:, [0,3,4,8,6,2]]

In [27]:
# get the gene id and gene name
parsed['gene_id'] = parsed[8].str.extract('gene_id "(ENSG[0-9.]+)"')
parsed['gene_name'] = parsed[8].str.extract('gene_name "([A-Za-z0-9-\._]+)"')

# final data cleanup
parsed = parsed.iloc[:, [0,1,2,4,5,6,7]]

/mnt/BioHome/jreyna/software/anaconda3/envs/hic_tls/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/mnt/BioHome/jreyna/software/anaconda3/envs/hic_tls/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [28]:
# use the gene ID as the name when the name is not 
# available
new_genenames = []
for ID, name in parsed.values[:, 5:7]:
    if type(name) == str:
        new_genenames.append(name)
    else:
        new_genenames.append(ID)
parsed.loc[:, 'gene_name'] = new_genenames

In [29]:
# save the final output
bed = os.path.join(outdir, 'gencode.v19.annotation.bed')
parsed.to_csv(bed, sep='\t', header=None, index=False)

In [30]:
parsed[parsed.gene_name == 'AP003774.1']

,0,3,4,6,2,gene_id,gene_name
1409358,chr11,64092522,64096976,-,gene,ENSG00000236935.1,AP003774.1
1409359,chr11,64092522,64096976,-,transcript,ENSG00000236935.1,AP003774.1
1409360,chr11,64096640,64096976,-,exon,ENSG00000236935.1,AP003774.1
1409361,chr11,64094956,64095008,-,exon,ENSG00000236935.1,AP003774.1
1409362,chr11,64092522,64092803,-,exon,ENSG00000236935.1,AP003774.1

In [32]:
parsed[parsed.gene_name == 'RP11-632C17__A.1']

,0,3,4,6,2,gene_id,gene_name
896697,chr6,118320138,118320611,+,gene,ENSG00000230202.1,RP11-632C17__A.1
896698,chr6,118320138,118320611,+,transcript,ENSG00000230202.1,RP11-632C17__A.1
896699,chr6,118320138,118320611,+,exon,ENSG00000230202.1,RP11-632C17__A.1