In [76]:
import pandas as pd 

import os 

os.chdir("/mnt/BioHome/jreyna/jreyna/projects/dchallenge/")

outdir = 'results/main/basic_stats/'

df = pd.read_table('results/main/coloc/Results/Colocalization/coloc_snps_per_study.txt', header=None)

In [77]:
df = df.iloc[0:-1,]

In [78]:
print('Description of the colocalized SNP-Gene pairs.')
df[0].describe()

Description of the colocalized SNP-Gene pairs.

count    20.000000
mean     10.850000
std       3.950683
min       6.000000
25%       8.000000
50%      10.000000
75%      12.250000
max      20.000000
Name: 0, dtype: float64

In [79]:
names = df[1].str.split('/')
names = [x[-1].split('_') for x in names]
study, qtl_type, clines = [], [], []

for name in names:
    
    study.append(name[0])
    qtl_type.append(name[1])
    
    cline = '_'.join(name[2:])
    clines.append(cline)

In [80]:
df['study'] = study
df['qtl_type'] = qtl_type
df['cline'] = clines
df = df.iloc[:, [0,2,3,4]]
df = df.rename(columns={0: 'num_snps'})

In [81]:
df = df[df.study.isin(['BLUEPRINT', 'DICE'])]
df = df[df.qtl_type == 'eQTL']

In [82]:
df = df.iloc[:, [1,3, 0]]

In [83]:
df.sort_values(['num_snps', 'study', 'cline'], ascending=[False, True, True], inplace=True)

In [84]:
df

        study                   cline  num_snps
1   BLUEPRINT              Neutrophil        20
0   BLUEPRINT                Monocyte        19
2   BLUEPRINT                  T-cell        17
3        DICE                 B_NAIVE        13
9        DICE              NK_CD16POS        13
16       DICE             TREG_MEMORY        12
4        DICE               CD4_NAIVE        11
14       DICE                     TH1        11
6        DICE               CD8_NAIVE        10
10       DICE  NONCLASSICAL_MONOCYTES        10
7        DICE              CD8_N_STIM         9
11       DICE                     TFH         9
13       DICE                    TH17         9
8        DICE     CLASSICAL_MONOCYTES         8
15       DICE                     TH2         8
17       DICE              TREG_NAIVE         8
5        DICE              CD4_N_STIM         7
12       DICE                  TH1-17         6

In [85]:
fn = os.path.join(outdir, 'description_of_coloc_study.xlsx')
df.to_excel(fn, index=False)

In [86]:
df.groupby(['study']).num_snps.describe()

           count       mean       std   min   25%   50%   75%   max
study
BLUEPRINT    3.0  18.666667  1.527525  17.0  18.0  19.0  19.5  20.0
DICE        15.0   9.600000  2.097618   6.0   8.0   9.0  11.0  13.0