In [1]:
import os 
import pandas as pd
import subprocess
import glob
import pybedtools as pbt 
pd.set_option('display.max_columns', None)

pbt.set_bedtools_path('/mnt/BioApps/bedtools/bin/')

os.chdir('/mnt/BioHome/jreyna/jreyna/projects/dchallenge/')

genome_sizes = 'results/refs/hg19/hg19.chrom.sizes'

# make the directory to save our data
outdir = 'results/notebooks/Intersect_PieQTLs_with_T1D_Significant_GWAS_SNPs/'
os.makedirs(outdir, exist_ok=True)

In [2]:
gs_fn = 'results/refs/hg19/hg19.chrom.nochr.sizes'
gencode_fn = 'results/refs/gencode/v30/gencode.v30.annotation.bed'
gencode = pd.read_table(gencode_fn, header=None)
gencode = gencode.drop_duplicates(5)
gencode_dict = {k:v for k,v in gencode[[5,6]].values.tolist()} 
gencode_dict.update({v:k for k,v in gencode[[5,6]].values.tolist()})

## Load Significant GWAS

In [3]:
major_gwas = ['T1D_32005708', 'T1D_34594039_GCST90018925', 'T1D_34012112_Gaulton']

In [4]:
data = []
gwas = 'results/main/coloc/Data/T1D_GWAS/*/GRCh37/GWAS_input_colocalization_pval_lt_5eMinus8.txt'
for fn in glob.glob(gwas):
    path_info = fn.split('/')
    df = pd.read_table(fn)
    
    if path_info[5] not in major_gwas:
        continue
        
    df['gwas_source'] = path_info[5]
    data.append(df)    
gwas_df = pd.concat(data)
gwas_df['sid'] = gwas_df['CHR'].str.replace('chr', '') + ':' + gwas_df['POS'].astype(str)

# loading finemap data into bedtools
gwas_bed = gwas_df.iloc[:, [0,1,1]]
gwas_bed.columns = ['chrom', 'start', 'end']
gwas_bed['start'] = gwas_bed['start'] - 1
gwas_pbt = pbt.BedTool.from_dataframe(gwas_bed)

/tmp/ipykernel_85574/915015123.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gwas_bed['start'] = gwas_bed['start'] - 1

In [5]:
individual_gwas_studies = gwas_df.groupby('gwas_source').sid.nunique()
individual_gwas_studies = individual_gwas_studies.to_frame()
individual_gwas_studies.columns = ['Number of Sig. GWAS']

In [6]:
individual_gwas_studies

                           Number of Sig. GWAS
gwas_source
T1D_32005708                             21097
T1D_34012112_Gaulton                     45798
T1D_34594039_GCST90018925                20419

## Load pieQTLs

In [7]:
pieqtls = glob.glob('results/main/pieqtls/2021_chandra_et_al/*/proximal.pieqtls.tsv')

pieqtl_data = []
for pieqtl in pieqtls:
    print(pieqtl)
    
    cline = pieqtl.split('/')[-2]
    df = pd.read_table(pieqtl)    
    df['cline'] = cline
    pieqtl_data.append(df) 
    
pieqtl_df = pd.concat(pieqtl_data)
pieqtl_df['Chromosome'] = pieqtl_df['Chromosome']
pieqtl_df.loc[:, 'sid'] = pieqtl_df['Chromosome'].str.replace('chr', '') + ':' + \
                          pieqtl_df['pieQTL.Position'].astype(str)

results/main/pieqtls/2021_chandra_et_al/B-cell_naive/proximal.pieqtls.tsv
results/main/pieqtls/2021_chandra_et_al/NK-cell_naive/proximal.pieqtls.tsv
results/main/pieqtls/2021_chandra_et_al/monocyte_naive/proximal.pieqtls.tsv
results/main/pieqtls/2021_chandra_et_al/CD4_T-cell_naive/proximal.pieqtls.tsv
results/main/pieqtls/2021_chandra_et_al/CD8_T-cell_naive/proximal.pieqtls.tsv

In [8]:
individual_cells = pieqtl_df.groupby('cline').Target_geneID.nunique()
individual_cells = individual_cells.to_frame()
individual_cells.columns = ['Number of pieQTL Genes']
individual_cells

                  Number of pieQTL Genes
cline
B-cell_naive                        1233
CD4_T-cell_naive                    1168
CD8_T-cell_naive                    1081
NK-cell_naive                        872
monocyte_naive                      1065

In [9]:
individual_cells = pieqtl_df.groupby('cline').sid.nunique()
individual_cells = individual_cells.to_frame()
individual_cells.columns = ['Number of pieQTL SNPs']
individual_cells

                  Number of pieQTL SNPs
cline
B-cell_naive                       8110
CD4_T-cell_naive                   6800
CD8_T-cell_naive                   5539
NK-cell_naive                      5332
monocyte_naive                     6006

In [10]:
pieqtl_bed = pieqtl_df.iloc[:, [1,2,2,-1]]
pieqtl_bed.columns = ['chrom', 'start', 'end', 'cline']
pieqtl_bed.loc[:, 'start'] = pieqtl_bed['start'] - 1
pieqtl_pbt = pbt.BedTool.from_dataframe(pieqtl_bed)

/tmp/ipykernel_85574/2754423286.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pieqtl_bed.loc[:, 'start'] = pieqtl_bed['start'] - 1

In [11]:
pieqtl_bed.shape

(35898, 4)

## Intersect pieQTLs and Sig GWAS

In [12]:
major_cols = ['ge_source',
              'rsid',
             'chrom',
             'pos',
             'geneid',
             'genename',
             'allele1',
             'allele2',
             'maf',
             'beta_x',
             'se',
             'z',
             'prob',
             'log10bf',
             'mean',
             'sd',
             'mean_incl',
             'sd_incl',
             'pval',
             'gwas_source',
             'pieQTL.ID',
             'Chromosome',
             'pieQTL.Position',
             'Target_geneName',
             'TSS',
             'pvalue',
             'FDR (DICE)',
             'beta_y',
             'ref',
             'alt',
             'Mean.TPM.Homozygous.Reference',
             'Mean.TPM.Heterozygous',
             'Mean.TPM.Homozygous.Alternative',
             'Interaction_type',
             'GWAS.Trait',
             'cline',
             'regionID',
             'GWASLoci',
             'index']


### Intersection

In [13]:
intersect_df = pd.merge(gwas_df, pieqtl_df,
                        left_on=['CHR', 'POS'],
                        right_on=['Chromosome', 'pieQTL.Position'],
                        how='inner')

In [14]:
indiv_cell_intersect = intersect_df.groupby('cline').Target_geneID.nunique().to_frame()
indiv_cell_intersect.columns = ['Number of Unique Genes from pieQTL & Sig.GWAS Intersection']
indiv_cell_intersect

                  Number of Unique Genes from pieQTL & Sig.GWAS Intersection
cline
B-cell_naive                                                     39
CD4_T-cell_naive                                                 33
CD8_T-cell_naive                                                 35
NK-cell_naive                                                    45
monocyte_naive                                                   25

In [15]:
indiv_cell_intersect = intersect_df.groupby('cline').sid_x.nunique().to_frame()
indiv_cell_intersect.columns = ['Number of Unique SNPs from pieQTL & Sig.GWAS Intersection']
indiv_cell_intersect

                  Number of Unique SNPs from pieQTL & Sig.GWAS Intersection
cline
B-cell_naive                                                    348
CD4_T-cell_naive                                                322
CD8_T-cell_naive                                                269
NK-cell_naive                                                   319
monocyte_naive                                                  116

In [16]:
indiv_cell_intersect = intersect_df.groupby(['cline', 'gwas_source']).Target_geneID.nunique().to_frame()
indiv_cell_intersect.columns = ['Number of Unique Genes from pieQTL & Sig.GWAS Intersection']
indiv_cell_intersect

                                            Number of Unique Genes from pieQTL & Sig.GWAS Intersection
cline            gwas_source
B-cell_naive     T1D_32005708                                                              28
                 T1D_34012112_Gaulton                                                      34
                 T1D_34594039_GCST90018925                                                 21
CD4_T-cell_naive T1D_32005708                                                              15
                 T1D_34012112_Gaulton                                                      29
                 T1D_34594039_GCST90018925                                                 14
CD8_T-cell_naive T1D_32005708                                                              18
                 T1D_34012112_Gaulton                                                      30
                 T1D_34594039_GCST90018925                                                 15
NK-cell_naive    T1D_32005708                                                              34
                 T1D_34012112_Gaulton                                                      36
                 T1D_34594039_GCST90018925                                                 17
monocyte_naive   T1D_32005708                                                              14
                 T1D_34012112_Gaulton                                                      22
                 T1D_34594039_GCST90018925                                                  8

In [17]:
indiv_cell_intersect = intersect_df.groupby(['cline', 'gwas_source']).sid_x.nunique().to_frame()
indiv_cell_intersect.columns = ['Number of Unique SNPs from pieQTL & Sig.GWAS Intersection']
indiv_cell_intersect

                                            Number of Unique SNPs from pieQTL & Sig.GWAS Intersection
cline            gwas_source
B-cell_naive     T1D_32005708                                                             186
                 T1D_34012112_Gaulton                                                     241
                 T1D_34594039_GCST90018925                                                116
CD4_T-cell_naive T1D_32005708                                                             142
                 T1D_34012112_Gaulton                                                     198
                 T1D_34594039_GCST90018925                                                 53
CD8_T-cell_naive T1D_32005708                                                             136
                 T1D_34012112_Gaulton                                                     155
                 T1D_34594039_GCST90018925                                                 73
NK-cell_naive    T1D_32005708                                                             171
                 T1D_34012112_Gaulton                                                     175
                 T1D_34594039_GCST90018925                                                 77
monocyte_naive   T1D_32005708                                                              82
                 T1D_34012112_Gaulton                                                      76
                 T1D_34594039_GCST90018925                                                 33

In [18]:
def get_genename(x):
    if x in gencode_dict:
        return(gencode_dict[x])
    else:
        return(x)

In [19]:
intersect_df.loc[:, 'geneid'] = intersect_df['Target_geneID'].str.replace('\.[0-9]*', '', regex=True)
intersect_df.loc[:, 'genename'] = intersect_df.loc[:, 'geneid'].apply(get_genename)

In [20]:
intersect_df.loc[:, 'geneid'].nunique()

91

In [21]:
for x in intersect_df.genename.unique():
    print(x)

C1orf216
SF3A3
FHL3
PTPN22
RGS1
NPM1P33
KRT18P39
CD28
SLC22A5
BTN3A1
BTN2A2
ZSCAN26
ZNF165
AL645939.1
IFITM4P
ZDHHC20P1
ZFP57
AL645929.1
HCG4B
AL671277.2
RNF39
FLOT1
DHX16
PPP1R18
ZNRD1ASP
TRIM26
VARS2
MRPS18B
TUBB
C6orf136
RF00019
PRRC2A
BAG6
CCHCR1
CSNK2B
C6orf47
TCF19
HCG27
AL662844.3
AL662844.4
MICB
MICA
AL645933.2
LST1
NCR3
LY6G5B
LY6G5C
C6orf48
AIF1
MSH5
PPT2
SKIV2L
BTNL2
ENSG00000228962
TSBP1
HCG24
TAP2
WDR46
PFDN6
RPL32P1
BACH2
AP003774.4
M6PR
LINC02390
SUOX
ATXN2
TMEM116
HECTD4
MAPKAPK5
CTSH
AC009121.1
RMI2
DND1P1
KANSL1-AS1
AP005482.1
ZGLP1
PRKD2
TMPRSS3
ZSCAN9
TRIM27
ENSG00000261353
BTN2A3P
ZKSCAN4
BTN2A1
BTN3A2
HMGN4
HCG18
GNL1
ZSCAN23
ZNF192P1

## Summarize

In [22]:
# find the unique SNPs
uniq_snps_by_cells = intersect_df.groupby('cline').sid_x.nunique()
uniq_snps_by_cells = uniq_snps_by_cells.to_frame()

# find the unique genes 
uniq_genes_by_cells = intersect_df.groupby('cline').geneid.nunique()
uniq_genes_by_cells = uniq_genes_by_cells.to_frame()

# merge snps and genes
uniq_counts_by_cells = pd.merge(uniq_snps_by_cells, uniq_genes_by_cells, left_index=True, right_index=True)
uniq_counts_by_cells.columns = ['Number of Unique SNPs', 'Number of Unique Genes']
uniq_counts_by_cells.index.name = 'Cell Line'

In [23]:
# save the file
excel_analysis = os.path.join(outdir, 'Unique_Counts_By_Cell_Line.xlsx')
uniq_counts_by_cells.to_excel(excel_analysis, sheet_name='pieqtls')

In [24]:
uniq_genes_by_cells

                  geneid
cline
B-cell_naive          39
CD4_T-cell_naive      33
CD8_T-cell_naive      35
NK-cell_naive         45
monocyte_naive        25

In [25]:
excel_analysis

'results/notebooks/Intersect_PieQTLs_with_T1D_Significant_GWAS_SNPs/Unique_Counts_By_Cell_Line.xlsx'

#### Write the gene list as well

In [26]:
gh_list = sorted(intersect_df.geneid.unique().tolist())
gh_fn = os.path.join(outdir, 'gene_list.txt')
with open(gh_fn, 'w') as fw:
    for x in gh_list:
        fw.write('{}\n'.format(x))

In [27]:
gh_list = sorted(intersect_df.geneid.unique().tolist())

In [32]:
len(gh_list)

91

In [29]:
intersect_df[['cline', 'geneid']]

                 cline           geneid
0       monocyte_naive  ENSG00000142686
1        NK-cell_naive  ENSG00000183431
2     CD4_T-cell_naive  ENSG00000183386
3     CD8_T-cell_naive  ENSG00000183386
4        NK-cell_naive  ENSG00000183431
...                ...              ...
2137  CD4_T-cell_naive  ENSG00000271821
2138  CD4_T-cell_naive  ENSG00000206344
2139  CD4_T-cell_naive  ENSG00000271821
2140     NK-cell_naive  ENSG00000206344
2141      B-cell_naive  ENSG00000204267

[2142 rows x 2 columns]

#### Get the unique genes per cell type

In [30]:
genes_by_cell = intersect_df[['cline', 'geneid']].drop_duplicates()
genes_by_cell.sort_values(['cline', 'geneid'], inplace=True)
genes_by_cell['source'] = 'pieqtls_with_sig_gwas'
genes_by_cell.columns = ['cline', 'geneid', 'source']
fn = os.path.join(outdir, 'genes_by_cell.xlsx')
genes_by_cell.to_excel(fn, index=False)

## Check Out SNPs

In [46]:
intersect_df.head(4)

,CHR,POS,BETA,SE,P,N,gwas_source,sid_x,pieQTL.ID,Chromosome,pieQTL.Position,Target_geneID,Target_geneName,TSS,pvalue,FDR (DICE),beta,ref,alt,Mean.TPM.Homozygous.Reference,Mean.TPM.Heterozygous,Mean.TPM.Homozygous.Alternative,Interaction_type,GWAS.Trait,cline,sid_y,geneid,genename
0,chr1,36107510,-0.129921,0.023253,2.310000e-08,520580.0,T1D_34012112_Gaulton,1:36107510,rs676614,chr1,36107510,ENSG00000142686.7,C1orf216,36185073,6.310000e-07,0.001185,0.75,C,A,10.26,11.74,14.23,Indirect_pieQTL,Lupus erythematosus systemic,monocyte_naive,1:36107510,ENSG00000142686,C1orf216
1,chr1,38397341,-0.083213,0.015137,3.850000e-08,520580.0,T1D_34012112_Gaulton,1:38397341,rs34655914,chr1,38397341,ENSG00000183431.7,SF3A3,38456593,2.390000e-09,0.000018,-0.80,G,A,105.05,94.51,87.20,Indirect_pieQTL,Platelet function tests,NK-cell_naive,1:38397341,ENSG00000183431,SF3A3
2,chr1,38397341,-0.083213,0.015137,3.850000e-08,520580.0,T1D_34012112_Gaulton,1:38397341,rs34655914,chr1,38397341,ENSG00000183386.5,FHL3,38471278,1.550000e-08,0.000064,-0.78,G,A,4.75,3.91,2.04,Direct_pieQTL,Platelet function tests,CD4_T-cell_naive,1:38397341,ENSG00000183386,FHL3
3,chr1,38397341,-0.083213,0.015137,3.850000e-08,520580.0,T1D_34012112_Gaulton,1:38397341,rs34655914,chr1,38397341,ENSG00000183386.5,FHL3,38471278,1.350000e-08,0.000055,-0.81,G,A,8.44,7.10,5.06,Direct_pieQTL,Platelet function tests,CD8_T-cell_naive,1:38397341,ENSG00000183386,FHL3

In [47]:
intersect_df.loc[intersect_df.genename == 'RPS62']

Empty DataFrame
Columns: [CHR, POS, BETA, SE, P, N, gwas_source, sid_x, pieQTL.ID, Chromosome, pieQTL.Position, Target_geneID, Target_geneName, TSS, pvalue, FDR (DICE), beta, ref, alt, Mean.TPM.Homozygous.Reference, Mean.TPM.Heterozygous, Mean.TPM.Homozygous.Alternative, Interaction_type, GWAS.Trait, cline, sid_y, geneid, genename]
Index: []

In [41]:
intersect_df.loc[intersect_df.geneid == 'ENSG00000170485']

Empty DataFrame
Columns: [CHR, POS, BETA, SE, P, N, gwas_source, sid_x, pieQTL.ID, Chromosome, pieQTL.Position, Target_geneID, Target_geneName, TSS, pvalue, FDR (DICE), beta, ref, alt, Mean.TPM.Homozygous.Reference, Mean.TPM.Heterozygous, Mean.TPM.Homozygous.Alternative, Interaction_type, GWAS.Trait, cline, sid_y, geneid, genename]
Index: []

In [50]:
high = ['SF3A3',
 'PTPN22',
 'RGS1',
 'CTLA4',
 'SLC22A5',
 'BTN3A2',
 'BTN2A2',
 'BTN3A1',
 'BTN2A1',
 'ZKSCAN4',
 'TRIM27',
 'ZFP57',
 'TRIM26',
 'MRPS18B',
 'FLOT1',
 'VARS2',
 'MICA',
 'NCR3',
 'BAG6',
 'TSBP1',
 'BTNL2',
 'TAP2',
 'WDR46',
 'BACH2',
 'IL2RA',
 'RBM17',
 'M6PR',
 'SUOX',
 'RPS26',
 'CUX2',
 'ATXN2',
 'NAA25',
 'CTSH',
 'RMI2',
 'ZPBP2',
 'GSDMB',
 'ORMDL3',
 'VASP',
 'PRKD2',
 'IL2RB',
 'RAC2',
 'MFNG']

,CHR,POS,BETA,SE,P,N,gwas_source,sid_x,pieQTL.ID,Chromosome,pieQTL.Position,Target_geneID,Target_geneName,TSS,pvalue,FDR (DICE),beta,ref,alt,Mean.TPM.Homozygous.Reference,Mean.TPM.Heterozygous,Mean.TPM.Homozygous.Alternative,Interaction_type,GWAS.Trait,cline,sid_y,geneid,genename
0,chr1,36107510,-0.129921,0.023253,2.310000e-08,520580.0,T1D_34012112_Gaulton,1:36107510,rs676614,chr1,36107510,ENSG00000142686.7,C1orf216,36185073,6.310000e-07,0.001185,0.75,C,A,10.26,11.74,14.23,Indirect_pieQTL,Lupus erythematosus systemic,monocyte_naive,1:36107510,ENSG00000142686,C1orf216
1,chr1,38397341,-0.083213,0.015137,3.850000e-08,520580.0,T1D_34012112_Gaulton,1:38397341,rs34655914,chr1,38397341,ENSG00000183431.7,SF3A3,38456593,2.390000e-09,0.000018,-0.80,G,A,105.05,94.51,87.20,Indirect_pieQTL,Platelet function tests,NK-cell_naive,1:38397341,ENSG00000183431,SF3A3
2,chr1,38397341,-0.083213,0.015137,3.850000e-08,520580.0,T1D_34012112_Gaulton,1:38397341,rs34655914,chr1,38397341,ENSG00000183386.5,FHL3,38471278,1.550000e-08,0.000064,-0.78,G,A,4.75,3.91,2.04,Direct_pieQTL,Platelet function tests,CD4_T-cell_naive,1:38397341,ENSG00000183386,FHL3
3,chr1,38397341,-0.083213,0.015137,3.850000e-08,520580.0,T1D_34012112_Gaulton,1:38397341,rs34655914,chr1,38397341,ENSG00000183386.5,FHL3,38471278,1.350000e-08,0.000055,-0.81,G,A,8.44,7.10,5.06,Direct_pieQTL,Platelet function tests,CD8_T-cell_naive,1:38397341,ENSG00000183386,FHL3
4,chr1,38397369,-0.082736,0.015137,4.610000e-08,520580.0,T1D_34012112_Gaulton,1:38397369,rs35267671,chr1,38397369,ENSG00000183431.7,SF3A3,38456593,2.390000e-09,0.000018,-0.80,C,T,105.05,94.51,87.20,Indirect_pieQTL,Platelet function tests,NK-cell_naive,1:38397369,ENSG00000183431,SF3A3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2137,chr6,31229274,0.187900,0.033500,2.085000e-08,NaN,T1D_34594039_GCST90018925,6:31229274,rs9264392,chr6,31229274,ENSG00000271821.1,XXbac-BPG299F13.14,31169695,3.220000e-05,0.012179,0.67,T,C,2.90,4.78,6.35,Direct_pieQTL,Beta-2 microglobulin|Hepatitis B chronic,CD4_T-cell_naive,6:31229274,ENSG00000271821,AL662844.3
2138,chr6,31229282,0.188800,0.033800,2.369000e-08,NaN,T1D_34594039_GCST90018925,6:31229282,rs9264394,chr6,31229282,ENSG00000206344.6,HCG27,31165537,4.000000e-06,0.002104,0.75,T,A,10.11,14.01,19.81,Direct_pieQTL,Beta-2 microglobulin|Hepatitis B chronic,CD4_T-cell_naive,6:31229282,ENSG00000206344,HCG27
2139,chr6,31229282,0.188800,0.033800,2.369000e-08,NaN,T1D_34594039_GCST90018925,6:31229282,rs9264394,chr6,31229282,ENSG00000271821.1,XXbac-BPG299F13.14,31169695,2.150000e-05,0.008637,0.69,T,A,2.90,4.65,6.35,Direct_pieQTL,Beta-2 microglobulin|Hepatitis B chronic,CD4_T-cell_naive,6:31229282,ENSG00000271821,AL662844.3
2140,chr6,31266117,-0.164800,0.028800,1.012000e-08,NaN,T1D_34594039_GCST90018925,6:31266117,rs2524095,chr6,31266117,ENSG00000206344.6,HCG27,31165537,2.380000e-05,0.012988,0.57,A,C,3.11,3.92,5.47,Direct_pieQTL,Breast neoplasms|C-reactive protein|Psoriasis|...,NK-cell_naive,6:31266117,ENSG00000206344,HCG27
2141,chr6,32746436,0.121400,0.017600,4.783000e-12,NaN,T1D_34594039_GCST90018925,6:32746436,rs7760769,chr6,32746436,ENSG00000204267.9,TAP2,32806557,1.820000e-05,0.006742,-0.67,G,A,232.98,227.50,193.09,Indirect_pieQTL,,B-cell_naive,6:32746436,ENSG00000204267,TAP2

In [63]:
high_df = intersect_df.loc[(intersect_df.genename.isin(high)) & (intersect_df.Interaction_type == 'Direct_pieQTL')]

In [64]:
for rs in sorted(set(high_df['pieQTL.ID'].tolist())):
    print(rs)

rs1004062
rs10801129
rs10806423
rs10842537
rs10842660
rs10842662
rs10858022
rs12149160
rs1217418
rs1217419
rs1217420
rs12369009
rs12592898
rs13214027
rs1323298
rs1345229
rs1610625
rs1805722
rs1805723
rs184093
rs1977
rs1978
rs1979
rs2071790
rs2072806
rs2080116
rs2080117
rs209122
rs209137
rs209138
rs209142
rs2394164
rs2516708
rs2516714
rs2516715
rs2518030
rs261947
rs28551159
rs3047288
rs3130843
rs3130889
rs3131059
rs3135303
rs3135315
rs34260811
rs35260072
rs369136
rs371337998
rs3742003
rs3757138
rs3803170
rs413158
rs45553631
rs4634439
rs4713242
rs4713244
rs58521088
rs60254670
rs62408211
rs6454805
rs6661817
rs66823108
rs68072215
rs6899623
rs6920256
rs7189239
rs72841536
rs7309325
rs769178
rs79166578
rs905671
rs918738
rs9348716
rs9366654
rs9366655
rs9379871
rs9393715
rs943689
rs969577
ss1388091585
ss1388091598

In [68]:
high_df.loc[high_df['pieQTL.ID'] == 'rs9380057']

Empty DataFrame
Columns: [CHR, POS, BETA, SE, P, N, gwas_source, sid_x, pieQTL.ID, Chromosome, pieQTL.Position, Target_geneID, Target_geneName, TSS, pvalue, FDR (DICE), beta, ref, alt, Mean.TPM.Homozygous.Reference, Mean.TPM.Heterozygous, Mean.TPM.Homozygous.Alternative, Interaction_type, GWAS.Trait, cline, sid_y, geneid, genename]
Index: []

In [71]:
intersect_df.loc[intersect_df['pieQTL.ID'] == 'rs9380057']

,CHR,POS,BETA,SE,P,N,gwas_source,sid_x,pieQTL.ID,Chromosome,pieQTL.Position,Target_geneID,Target_geneName,TSS,pvalue,FDR (DICE),beta,ref,alt,Mean.TPM.Homozygous.Reference,Mean.TPM.Heterozygous,Mean.TPM.Homozygous.Alternative,Interaction_type,GWAS.Trait,cline,sid_y,geneid,genename
1962,chr6,28104634,0.2005,0.0267,6.530000e-14,24250.0,T1D_32005708,6:28104634,rs9380057,chr6,28104634,ENSG00000187626.7,ZKSCAN4,28227011,0.00009,0.026584,0.72,G,T,10.8,12.91,14.41,Indirect_pieQTL,,CD8_T-cell_naive,6:28104634,ENSG00000187626,ZKSCAN4