In [1]:
import os 
import glob
import pandas as pd 
os.chdir('/mnt/BioHome/jreyna/jreyna/projects/dchallenge/')

## Load Original data

In [2]:
globs = 'results/main/sgls/*/*/*/*/master.tsv'
globs = glob.glob(globs)

In [3]:
coloc_data = []
for fn in globs:
    
    file_info = fn.split('/')  
    
    
    gwas_source = file_info[3]
    eqtl_source = file_info[4]
    ge_source = file_info[5]
    loop_source = file_info[6]
           
    num_lines = len(open(fn).readlines())
    if num_lines > 0: 
        
        #print(fn)
        
        tdf = pd.read_table(fn)
        tdf.loc[:, 'gwas_source'] = gwas_source
        tdf.loc[:, 'eqtl_source'] = eqtl_source
        tdf.loc[:, 'ge_source'] = ge_source
        tdf.loc[:, 'loop_source'] = loop_source

        coloc_data.append(tdf)

In [4]:
coloc_data = pd.concat(coloc_data)
coloc_data.loc[:, 'sgl_id'] = coloc_data['sid'] + '-' + coloc_data['geneid']
coloc_summary = coloc_data.groupby(['gwas_source', 'eqtl_source', 'ge_source', 'loop_source'])#.pos.count()

In [5]:
coloc_data.head()

,sid,rsid,geneid,gene_name,chrom,snp_pos,tss_start,tss_end,is_eqtl_pair,is_coloc_pair,...,fdr,pp_H0_Coloc_Summary,pp_H1_Coloc_Summary,pp_H2_Coloc_Summary,pp_H3_Coloc_Summary,pp_H4_Coloc_Summary,gwas_pval_nominal,SampleSize,sample_size,sgl_id
0,10:6064303,NaN,ENSG00000239142,RF00096,chr10,6064303,5093542,5093543,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10:6064303-ENSG00000239142
1,10:6064303,NaN,ENSG00000225418,AKR1C5P,chr10,6064303,5135225,5135226,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10:6064303-ENSG00000225418
2,10:6064303,NaN,ENSG00000264006,AKR1C8P,chr10,6064303,5185186,5185187,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10:6064303-ENSG00000264006
3,10:6064303,NaN,ENSG00000198610,AKR1C4,chr10,6064303,5195461,5195462,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10:6064303-ENSG00000198610
4,10:6064303,NaN,ENSG00000228291,ARL4AP3,chr10,6064303,5207168,5207169,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10:6064303-ENSG00000228291

In [16]:
coloc_summary = coloc_summary.sgl_id.count().to_frame()
coloc_summary.columns = ['Number of SGLS in Coloc']
coloc_summary

AttributeError: 'DataFrame' object has no attribute 'sgl_id'

## Load SGL-LD data

In [7]:
globs = 'results/main/GRCh37/sgls/ldpairs/*/*/*/*/script_version/master.tsv'
globs = glob.glob(globs)

In [8]:
ld_data = []
for fn in globs:
    
    file_info = fn.split('/')  
    
    
    gwas_source = file_info[5]
    eqtl_source = file_info[6]
    ge_source = file_info[7]
    loop_source = file_info[8]
       
    num_lines = len(open(fn).readlines())
    if num_lines > 0: 
        
        #print(fn)
        
        tdf = pd.read_table(fn)
        tdf.loc[:, 'gwas_source'] = gwas_source
        tdf.loc[:, 'eqtl_source'] = eqtl_source
        tdf.loc[:, 'ge_source'] = ge_source
        tdf.loc[:, 'loop_source'] = loop_source

        ld_data.append(tdf)

In [9]:
ld_data = pd.concat(ld_data)
ld_data.loc[:, 'sgl_id'] = ld_data['sid'] + '-' + ld_data['geneid']
ld_summary = ld_data.groupby(['gwas_source', 'eqtl_source', 'ge_source', 'loop_source'])#.pos.count()

In [10]:
ld_data.head()

,sid,rsid,geneid,gene_name,chrom,snp_pos,tss_start,tss_end,is_eqtl_pair,is_coloc_pair,...,gwas_slope_se,gwas_pval,gene_start.1,gene_end.1,gene_strand,gwas_source,eqtl_source,ge_source,loop_source,sgl_id
0,9:4283682,NaN,ENSG00000215297,AL354941.1,chr9,5285000,3364791,3364792,0,0,...,NaN,NaN,3364329,3364792,-,T1D_34012112_Gaulton,Quach_2016,monocyte_Pam3CSK4,monocyte_naive,9:4283682-ENSG00000215297
1,9:4284961,NaN,ENSG00000215297,AL354941.1,chr9,5285000,3364791,3364792,0,0,...,NaN,NaN,3364329,3364792,-,T1D_34012112_Gaulton,Quach_2016,monocyte_Pam3CSK4,monocyte_naive,9:4284961-ENSG00000215297
2,9:4282942,NaN,ENSG00000215297,AL354941.1,chr9,5285000,3364791,3364792,0,0,...,NaN,NaN,3364329,3364792,-,T1D_34012112_Gaulton,Quach_2016,monocyte_Pam3CSK4,monocyte_naive,9:4282942-ENSG00000215297
3,9:4282536,NaN,ENSG00000215297,AL354941.1,chr9,5285000,3364791,3364792,0,0,...,NaN,NaN,3364329,3364792,-,T1D_34012112_Gaulton,Quach_2016,monocyte_Pam3CSK4,monocyte_naive,9:4282536-ENSG00000215297
4,9:4283682,NaN,ENSG00000080298,RFX3,chr9,5285000,3526003,3526004,0,0,...,NaN,NaN,3218297,3526004,-,T1D_34012112_Gaulton,Quach_2016,monocyte_Pam3CSK4,monocyte_naive,9:4283682-ENSG00000080298

In [11]:
ld_summary = ld_summary.sgl_id.count().to_frame()
ld_summary.columns = ['Number of SGLs in ld']
ld_summary

                                                                   Number of SGLs in ld
gwas_source          eqtl_source ge_source         loop_source
T1D_25751624         Quach_2016  monocyte_IAV      monocyte_naive                  1316
                                 monocyte_Pam3CSK4 monocyte_naive                  3196
                                 monocyte_R848     monocyte_naive                  7815
T1D_32005708         Quach_2016  monocyte_IAV      monocyte_naive                   342
T1D_34012112_Gaulton Quach_2016  monocyte_Pam3CSK4 monocyte_naive                   731
                                 monocyte_R848     monocyte_naive                  2627

## Summaries Side By Side

In [12]:
coloc_summary

                                                                               Number of SNPs in Coloc
gwas_source          eqtl_source    ge_source                loop_source
T1D_25751624         Quach_2016     monocyte_IAV             monocyte_naive                         71
                                    monocyte_LPS             monocyte_naive                         24
                                    monocyte_Pam3CSK4        monocyte_naive                         76
                                    monocyte_R848            monocyte_naive                         43
                     Schmiedel_2018 B-cell_naive             B-cell_naive                           49
                                    CD4_T-cell_anti-CD3-CD28 CD4_T-cell_naive                       80
                                    CD4_T-cell_naive         CD4_T-cell_naive                       84
                                    CD8_T-cell_anti-CD3-CD28 CD8_T-cell_naive                      132
                                    NK-cell_naive            NK-cell_naive                         100
                                    monocyte_CD16_naive      monocyte_naive                         32
                                    monocyte_naive           monocyte_naive                         48
T1D_32005708         Quach_2016     monocyte_IAV             monocyte_naive                         57
                     Schmiedel_2018 B-cell_naive             B-cell_naive                          185
                                    CD4_T-cell_anti-CD3-CD28 CD4_T-cell_naive                      185
                                    CD8_T-cell_anti-CD3-CD28 CD8_T-cell_naive                      128
                                    CD8_T-cell_naive         CD8_T-cell_naive                       57
                                    NK-cell_naive            NK-cell_naive                         128
                                    monocyte_CD16_naive      monocyte_naive                        128
                                    monocyte_naive           monocyte_naive                        185
T1D_34012112_Gaulton Quach_2016     monocyte_IAV             monocyte_naive                         67
                                    monocyte_Pam3CSK4        monocyte_naive                         41
                                    monocyte_R848            monocyte_naive                         92
                     Schmiedel_2018 B-cell_naive             B-cell_naive                           38
                                    CD4_T-cell_anti-CD3-CD28 CD4_T-cell_naive                      217
                                    CD4_T-cell_naive         CD4_T-cell_naive                       50
                                    CD8_T-cell_anti-CD3-CD28 CD8_T-cell_naive                       51
                                    CD8_T-cell_naive         CD8_T-cell_naive                       19
                                    NK-cell_naive            NK-cell_naive                          48
sgls_20220222        Quach_2016     monocyte_IAV             monocyte_naive                          0
                                    monocyte_Pam3CSK4        monocyte_naive                          0
                                    monocyte_R848            monocyte_naive                          0
                     Schmiedel_2018 B-cell_naive             B-cell_naive                            0
                                    CD4_T-cell_anti-CD3-CD28 CD4_T-cell_naive                        0
                                    CD4_T-cell_naive         CD4_T-cell_naive                        0
                                    CD8_T-cell_anti-CD3-CD28 CD8_T-cell_naive                        0
                                    CD8_T-cell_naive         CD8_T-cell_naive                        0
                                    NK-cell_naive            NK-cell_naive                           0

In [13]:
ld_summary

                                                                   Number of SGLs in ld
gwas_source          eqtl_source ge_source         loop_source
T1D_25751624         Quach_2016  monocyte_IAV      monocyte_naive                  1316
                                 monocyte_Pam3CSK4 monocyte_naive                  3196
                                 monocyte_R848     monocyte_naive                  7815
T1D_32005708         Quach_2016  monocyte_IAV      monocyte_naive                   342
T1D_34012112_Gaulton Quach_2016  monocyte_Pam3CSK4 monocyte_naive                   731
                                 monocyte_R848     monocyte_naive                  2627

## Merge

In [14]:
pd.options.display.min_rows = 100

In [15]:
summary = pd.merge(coloc_summary, ld_summary, left_index=True, right_index=True, how='outer')
summary.sort_values('Number of SNPs in LD', ascending=False)

KeyError: 'Number of SNPs in LD'